body{
    background-color: #d6e1f0;
}
.outer{
    padding: 10px;
    width: 25vw;
    border: 2px grey solid;
    border-radius: 10px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
img{
    width: 25vw;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}