body{
    background-color: #d6e1f0;
}
*{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.outer{
    padding: 12px;
    width: 342px;
    border-radius: 10px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
img{
    width: 342px;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}
.test{
    font-size: 1.8em;
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
}
.sectest{
    text-align: center;
    color: grey;
    font-size: 1.2em;
    margin-top: 0.7em;
}